html,
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

// Rest The Elements Design
a,
button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a {
  color: #050505;
  text-decoration: none;
}

button {
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  background: $dark;
  color: #fff;
  transition: $transition;

  &:hover {
    letter-spacing: 2px;
  }
}

ul {
  list-style: none;
}

// the scroll bar designing
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #131313;

  border-radius: 0 0 100px 100px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #010101e1;
}
